body {
    background-image: url("pow-star.png");
    font-family: 'Times New Roman', Times, serif;
}
.row {
    display: flex;
    flex-direction: column;
}
h1 {
    font-size: 35px;
    text-align: center;
    background-color: rgb(122, 74, 11);
    color: white;
    padding: 20px;
    height: 100%;
    width: 60%;
}

#instructions {
    font-size: 20px;
    background-color:tan;
    color: green;
    height: 90%;
    width: 60%;
    margin: auto, 0;
    padding: 50px;
}

#random-number {
    font-size: 28px;
    background-color:green;
    height: 100%;
    width: 50%;
}
#wins-text {
    background-color: cyan;
    font-size: 24px;
    width: 60%;
    /* float: left; */
}
#losses-text {
    background-color: cyan;
    font-size: 24px;
    width: 60%;
}

.jewels {
    display: block;
    height: auto;
    max-width: 50%;
    padding: 10px;
    float: left;
}

#score-text {
    font-size: 20px;
    color: white;
    background-color: darkcyan;
    height: 100%;
    width: 50%;
    height: 28px;
}
#score {
    height: 100%;
    width: 50%;
    background-color: darkcyan;
    color: white;
}
